@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import '../scss/Home.scss';

@import '../containers/ErrorPage/ErrorPage.scss';
@import '../containers/LandingPage/LandingPage.scss';
@import '../containers/MainPage/MainPage.scss';

@import '../layouts/Footer/Footer.scss';
@import '../layouts/Navbar/Navbar.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 177 219 179;
    --primary-darkMode: 108 134 110;

    --secondary: 177 209 219;
    --secondary-darkMode: 108 128 134;

    --swiper-navigation-color: #4bbb7d;
    --swiper-pagination-color: #4bbb7d;
  }

  html {
    @apply text-[62.5%];
  }

  html,
  body {
    @apply max-w-[100vw] overflow-x-hidden;
  }

  body {
  }

  a {
    @apply no-underline text-inherit;
  }

  * {
    @apply box-border p-0 m-0 scroll-smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
